/* custom CSS rules */

body {
    font-family: "Work Sans", sans-serif;
}

li {
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 6px;
}

h2 {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

.legend {
    padding: 6px 8px;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 160px;
}