/* custom CSS rules */

body {
    font-family: "Work Sans", sans-serif;
}

li {
    font-family: "Work Sans", sans-serif;
    margin-bottom: 10px;
}

h1 {
    font-family: "Work Sans", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

p {
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
}

#ui-controls {
    background: rgba(255, 255, 255, .8);
    padding: 8px 16px;
}

#ui-controls {}

#ui-controls .select-container {
    margin: 12px 0 12px;
    ;
}

#info {
    font-family: "Work Sans", sans-serif;
    padding: 6px 8px;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    max-width: 150px;
    text-align: right;
    position: absolute;
    z-index: 900;
}

#legend,
#legend2,
#legend3 {
    /*position: absolute;
    z-index: 1000;*/
}


/* hide 2nd two legends */

#legend2,
#legend3 {
    display: none;
}

.legend4 {
    z-index: 1000;
    padding: 6px 8px;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    max-width: 100px;
    bottom: 20px;
}

.legend4 span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

.legend {
    font-family: "Work Sans", sans-serif;
    background-color: #fff;
    border-radius: 3px;
    bottom: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    right: 10px;
    left: 1px;
    z-index: 1;
    bottom: 20
}

.legend h4 {
    font-family: "Work Sans", sans-serif;
    margin: 0 0 10px;
}

.legend div span,
legend2 div span,
legend3 div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}